@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Nunito:wght@300;400;900&family=Quintessential&family=Roboto:wght@300;700&family=Varela+Round&display=swap');

$fontMainTitle: 'Nunito', sans-serif;
$fontMainText: 'Lobster', cursive;
$fontSecondary: 'Roboto', sans-serif;


//Variables para textos
$textXXL: 1.8em;
$textXL: 1.6em;
$textL: 1.3em;
$textM: 1em;
$textS: 0.8em;
$textXS: 0.5em;

//Links
.link{
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
}

//Semanticas
h1{
	@extend .titleXL;
}


//Clases

.titleXXL{
	font-size: $textXXL;
	padding: 10px;
	text-transform: uppercase;
}

.titleXL{
	font-size: $textXL;
	padding: 10px;
	text-transform: uppercase;
}

.titleL{
	font-size: $textL;
	padding: 10px;
	text-transform: uppercase;
}
.titleM{
	font-size: $textM;
	padding: 10px;
	text-transform: uppercase;
}
.titleS{
	font-size: $textS;
	padding: 10px;
	text-transform: uppercase;
}

.texto{
	font-size: $textM;
	padding: 15px;
}